<div class="mt-4 mb-4 container mx-auto ">
    <h1 class="border-b-4 text-2xl">利用規約</h1>
        <!-- <p class="mt-4">本規約は、水やりKeeper運営(以下「当社」「当社」といいます。)が提供する「水やりKeeper」」(以下「本サービス」といいます。)を利用される際に適用されます。ご利用にあたっては、本規約をお読みいただき、内容をご承諾の上でご利用ください。</p>
    
        <h2 class="border-b-4 text-xl mt-4">第一条(規約の適用)</h2>
        <ol type="1" style="list-style-type: decimal;" class="ml-4">
            <li>本規約は、当社が本サービスを、当社が本サービスを提供する上で本サービスを提供する上で、利用者が本サービスの提供を受けるにあたってのの提供を受けるにあたっての諸条件を定めたものです。</li>
            <li>当社は、本サービスの提供当社は、本サービスの提供に関して、本規約のほか、本サービスの利用に関する個別規約個別規約その他ガイドライン個別規約その他ガイドライン等を定めることがあります。この場合この場合、当該個別規約その他のがいどらいんのガイドライン等は、本規約の一部として利用者による本サービスの利用者による本サービスの利用に優先して本サービスの利用に優先して適用されるものとします。</li>
            <li>利用者が本サービスを利用された場合、、利用者が本規約に同意したものとみなします</li>
            <li>利用者が、未成年の場合、利用者は、本サービスの利用について、親権者等法定代理人の同意を得なければなりません。当社は、未成年者の利用者による本サービスの利用については、親権者等法定代理人の同意を得て行為されたものとみなします。</li>
        </ol>

        <h2 class="border-b-4 text-xl mt-4">第二条(利用登録)</h2>
        <ol type="1" style="list-style-type: decimal;" class="ml-4">
            <li>利用者は、当社が定める方法により必要事項を登録いただくことで、利用登録を行うことができます。</li>
            <li>利用者は、登録事項について、当社に対して正確かつ最新の情報を届けなければなりません。</li>
            <li>登録内容に変更が生じた場合、利用者は、速やかに、変更内容を当社に届け出るものとします。</li>
            <li>登録内容が不正確若しくは虚偽であり、又は、変更内容について届出がされていないために、利用者が損害又は不利益を被ったとしても当社は責任を負わないものとします。</li>
        </ol>

        <h2 class="border-b-4 text-xl mt-4">第三条(ID及びパスワードの管理)</h2>
        <ol type="1" style="list-style-type: decimal;" class="ml-4">
            <li>利用者が利用登録を行なった場合、当社はID及びパスワードを発行します。</li>
            <li>利用者は、ID及びパスワードを厳重に管理し、保管するものとし、これを第三者に貸与、譲渡、売買その他の方法をもって利用させてはならないものとします。ID又はパスワードの管理が不十分なことにより、利用者が損害又は不利益を被ったとしても、当社は、</li>
        </ol> -->
</div>
