<div class="relative">
    <%= image_tag 'top.webp', class: 'w-full h-auto object-cover blur-top-bottom opacity-0' %>
    <div class="absolute top-0 left-0 right-0 bottom-0 flex flex-col justify-center items-center text-center text-gray-600"></div>
    <h1 class="text-3xl font-bold mb-6 text-center mt-44">水やりKeeper</h1>
    <p class="text-gray-600 mb-6 italic text-center">水やりKeeperは、観葉植物の水やりタイミングを管理するためのアプリです。</p>

    <h1 class="text-3xl font-bold mb-6 text-center mt-44">水やりKeeperでできること</h1>
    <div class="flex justify-center overflow-x-auto space-x-4 text-center">
        <div class="bg-white shadow-md rounded-lg overflow-hidden w-96 h-96 flex-none">
            <div class="p-4">
              <h2 class="text-2xl font-semibold mt-6 mb-2">適切な水やり周期をMyページで通知</h2>
              <p class="text-gray-600">水やりの感覚：毎週</p>
            </div>
          </div>
      <div class="bg-white shadow-md rounded-lg overflow-hidden w-96 h-96 flex-none">
        <div class="p-4">
          <h2 class="text-2xl mt-6 font-semibold mb-2">LINE連携すれば、水やり日にメッセージが</h2>
          <p class="text-gray-600">水やりの感覚：2週間に1回</p>
        </div>
      </div>
      <!-- 他のカードを追加 -->
    </div>
  </div>


  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // 画像の要素を取得
      const image = document.querySelector('.opacity-0');
      
      // 画像を表示
      image.classList.remove('opacity-0');
      
      // 画像の透明度を徐々に変化させる
      image.style.transition = 'opacity 2s';
      image.style.opacity = '1';
    });
  </script>