<footer class="bg-gray-200 py-4 px-6 bottom-0 left-0 right-0 mt-6", id="footer">
    <div class="flex justify-center space-x-4">
      <%= link_to '利用規約', terms_of_service_path, class:'text-gray hover:underline' %>
      <%= link_to 'プライバシーポリシー', privacy_policy_path, class:'text-gray hover:underline' %>  
    </div>
    <div class="text-center mt-4">
        <p>©︎ 2024 水やりKeeper</p>
    </div>
</footer>
  