<header class="text-gray-600 body-font bg-green-200">
    <div class="bg-green-200 py-4 px-6 flex justify-between items-center">
      <%= link_to root_path, class:'hover:text-gray-900' do %>  
        <h1 class="text-gray text-xl font-semibold">水やり Keeper</h1>
      <% end %>
        <div class="space-x-4">
          <%= link_to 'Myページ', user_path(current_user.id), class:'text-gray hover:text-gray-900' %>  
          <%= link_to 'ログアウト', logout_path, method: :delete, data: { turbo_method: :delete }, class:'text-gray hover:text-gray-900' %>
        </div>
      </div>
</header>