<div clas="relative">
  <div class="flex h-screen bg-green-200">
    <div class="w-1/3 bg-white shadow-md rounded-lg overflow-hidde mr-4 mb-32 mt-6 ml-12 flex flex-col">
      <p>登録植物表示</p>
      <div class="mt-132">
        <%= link_to '編集', '#', class:'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
        <%= link_to '水やり完', '#', class:'bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
        <%= link_to '削除', '#', class:'bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
      </div>
    </div>
    <div class="w-1/3 bg-white shadow-md rounded-lg overflow-hidde mr-2 mb-32 mt-6 ml-2">
      <p>登録植物表示</p>
    </div>
    <div class="w-1/3 bg-white shadow-md rounded-lg overflow-hidde mr-12 mb-32 mt-6 ml-4">
      <p>登録植物表示</p>
    </div>
  </div>
  <div class="flex justify-center bg-green-200">
    <div class="mb-32 text-gray-400 hover:text-gray-900 text-2xl">
      <%= link_to 'LINEと連携し通知を受け取る', class:'text-white bg-green-200' %>
    </div>
  </div>
</div>