<div class="flex bg-white shadow-md rounded-lg overflow-hidden items-center p-4">
    <div class="container mx-auto">
        <%= image_tag(result['mediumImageUrls'][0], size: '128x128') if result['mediumImageUrls'].present? %>
    </div>
    <div class="container">
        <div class="flex justify-center p-2">
        <%= link_to '登録', products_path(name: result['itemName'],
                                         rakuten_url: result['itemUrl'],
                                         product_image: result['mediumImageUrls'][0],
                                         price: result['itemPrice']),
                                         class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline',
                                         data: { 'turbo_method': :post } %>
        </div>
        <div class="items-center mt-4">
            <%= truncate(result.name, length: 50) %>
        </div>
    </div>
</div>